* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
}
#box-color {
  width: 10rem;
  height: 10rem;
  background-color: gray;
}
#text {
  width: 10rem;
  height: 10rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-masa {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.form-dola {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
